* {
	box-sizing: border-box;
}

body {
	background-color: lightpink;
	font-family: "Proxima Nova", sans-serif;
	color: white;
}

#container {
	width: 500px;
	margin: 0px auto;
	background-color: lightblue;
}