* {
	box-sizing: border-box;
}

body {
	background-color: lightblue;
}

#container {
	width: 100%;
	height: 500px;
	margin: 0px auto;
}

button{
	width: 70%;
	height: 10%;
	background-color: red;
	font-family: "Proxima Nova", sans-serif;
	color: white;
	font-size: 100%;
	margin-top: 25%;
	margin-left: 12%;
}